.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  border: 1px solid #006300;
  padding: 8px 12px;
  cursor: pointer;
  color: #03fad1;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  text-decoration: none;
}

/* Clase para el break (puntos suspensivos) */
.break-me {
  margin: 0 5px;
}

.pagination li.active a {
  background-color: #006300;
  color: #49db00;
  border-color: #70a925;
}

.pagination li.disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination li a:hover:not(.active) {
  background-color: #70a925;
}
